<h1><b>This is the About Page, Welcome!!</b></h1>

<ul>This is a simple table of Food</ul>
<li>Pizza</li>
<li>Burgers</li>
<li>Sushi</li>
<li>beer</li>

<%= link_to 'Jump to the Home Page', root_path %>
