<h1><b>Working hard for something we dont care about is stress. Working hard for something we love is call Passion.</b></h1>

<h1>food for thought :), hope you have a great day, maybe we'll play battleships later</h1>

<%= link_to 'Back', root_path %>
