<h1><b>This is the Home Page, Welcome!!</b></h1>

<ul>This is a simple table of Food</ul>
<li><b>Pizza</b></li>
<li>Burgers</li>
<li>Sushi</li>
<li>beer</li>

<%= link_to image_tag('IF LOST PHONE.PNG'), about_path %>